.decorations .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    gap: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}



body{
    background-color: rgba(244, 229, 213, 0.786);
    font-family: 'Alice',sans-serif;
}

h1{
    text-align:center;
    font-family: 'Alice',sans-serif;
    font-size: 3rem;
}
h2{
    background-color: rgb(213, 183, 241);
    text-align:center;
}
.decorations .container .box .price{
    position: absolute;
    top: 200;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 1rem;
    background-color: rgb(238, 231, 231);
}
.decorations .container .box{
    position: relative;
    border-radius: 0.5rem;
    height: 15rem;
    cursor: pointer;
    overflow: hidden;
}

.decorations .container .box img{
    height: 120%;
    width: 100%;
    object-fit: cover;
}

.decorations .container .box:hover img{
    transform: scale(1.02);
    opacity: 0.4;
    border: 3px solid black;
    margin: 1;
}

.button {
    background-color: rgb(162, 113, 207);
    margin-top: 30px;
    width: 10%;
    padding: 10px 0;
    border-radius: 12px;
    font-size: 18px;
    border-color: rgb(162, 113, 207);
    font-family: 'Alice',sans-serif;
}
.b1{
    text-align: center;    
    padding: 5dvb;

}